{% block modalUpdate %}
<dialog id="update-modal">
    <article>
        <form action="" method="post" id="edit-form">
            <div class="line-form container">
                <div>
                    <label>ID
                        <input name="id" value="{{ client.id }}" readonly>
                    </label>
                </div>
                <div>
                    <label>First name
                        <input name="first-name" value="{{ client.firstName }}">
                    </label>
                </div>
                <div>
                    <label>Last name
                        <input name="last-name" value="{{ client.lastName }}">
                    </label>
                </div>
            </div>
            <div>
                <label>E-mail
                    <input name="email" value="{{ client.email }}">
                </label>
            </div>
            <input type="submit" value="Update">
        </form>
        <button id="close-up-modal" class="secondary">Close</button>
    </article>
</dialog>
{% endblock %}