{% extends 'base/base.html.twig' %}
{% block title %} Home {% endblock %}

{% block content %}
{% include 'partials/header.html.twig' %}
<article class="container">
    <div class="headings">
        <h2>Be welcome</h2>
        <h3>This is a software for management you clients!</h3>
    </div>
</article>
{% endblock %}